$fontFamily: 'OpenSans', sans-serif;
$fontSize: 13;
//=============================================================================================================================
$mainColor: #48555b;
$altColor: #ffffff;
$accentColor: #007daf;
//=============================================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 972;
$md1: 991.98;
$md2: 767.98;
$md3: 599.98;
$md4: 479.98;