@font-face {
  font-family: "Bebas";
  font-display: swap;
  src: url("../fonts/Bebas Neue Bold.woff2") format("woff2"), url("../fonts/Bebas Neue Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 13px;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "OpenSans", sans-serif;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "OpenSans", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #48555b;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

._container {
  max-width: 972px;
  margin: 0 auto;
  padding: 0 16px;
}

.form__input {
  min-width: 250px;
  min-height: 40px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  min-height: 40px;
  padding: 9px 16px;
  color: #ffffff;
  font-size: 13px;
  line-height: 1.3846153846;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #007daf;
  border: 2px solid #007daf;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=email]:focus {
  outline: none;
}

.input {
  display: block;
  width: 100%;
  padding: 0 16px;
  color: #48555b;
  font-size: 14px;
  border-radius: 0 !important;
}

.input._focus {
  color: #171819;
}

.input._error {
  border: 2px solid #ff0000;
}

.logo {
  display: inline-block;
}

.logo__icon {
  width: 80px;
  height: 16px;
  color: #007daf;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  fill: #171819;
}

.logo__icon--alt {
  fill: #ffffff;
  width: 100px;
  height: 20px;
}

.title {
  position: relative;
  padding: 0 0 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 28px);
  width: 56px;
  height: 2px;
  background: #007daf;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 0 -48px;
  background: #ffffff;
  border-top: 1px solid #e6e6e6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._scroll {
  margin: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
}

.header__logo {
  position: relative;
  z-index: 5;
  height: 16px;
}

.menu__list {
  text-align: center;
}

.menu__item + .menu__item {
  margin-top: 32px;
}

.menu__link {
  display: inline-block;
  padding: 4px 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.09;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #007daf;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
  z-index: 1;
  padding: 0 0 48px;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0.8px;
}

.footer__top {
  padding: 24px 0;
  background: #141a20;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 16px;
}

.footer__bottom {
  padding: 16px 0;
  text-align: center;
  background: #171819;
}

.footer__copy {
  line-height: 1.3636363636;
}

.company-footer__label {
  margin: 0 0 16px;
}

.company-footer__logo:not(:last-child) {
  margin: 0 0 24px;
}

.company-footer__text {
  line-height: 1.7272727273;
}

.menu-footer__label {
  position: relative;
  display: inline-block;
}

._init .menu-footer__label {
  cursor: pointer;
}

._init .menu-footer__label::before,
._init .menu-footer__label::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 7px;
  height: 1px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

._init .menu-footer__label::before {
  right: 5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

._init .menu-footer__label::after {
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-footer__label._active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-footer__label._active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-footer__list:not(:last-child) {
  margin: 0 0 16px;
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 16px;
}

.menu-footer__link {
  line-height: 1.3636363636;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__label {
  margin: 0 0 16px;
}

.contacts-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 16px;
  line-height: 1.4545454545;
}

.contacts-footer__address {
  margin: 0 0 16px;
}

.contacts-footer__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__link:not(:last-child) {
  margin: 0 0 16px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.social-footer__item:not(:last-child) {
  margin: 0 24px 0 0;
}

.social-footer__icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-footer__icon #google-blue,
.social-footer__icon #google-yellow,
.social-footer__icon #google-green,
.social-footer__icon #google-red {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 32px 0 64px;
  background-color: #48555b;
}

.main-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.main-block img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.main-block__logo {
  height: 20px;
  margin: 0 0 40px;
}

.main-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-block__title {
  font-family: "Bebas", sans-serif;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 4px;
}

.main-block__subtitle {
  margin: 0 0 56px;
  font-size: 14px;
  line-height: 1.375;
  font-weight: 600;
}

.main-block__link-down {
  padding: 8px 0;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3.7px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
}

.story {
  padding: 48px 0 24px;
}

.story__title {
  margin: 0 0 24px;
}

.story__body {
  margin: 0 -16px;
}

.story__content {
  padding: 0 16px;
}

.story__text {
  line-height: 1.7692307692;
  letter-spacing: 0.2px;
}

.story__text:not(:last-child) {
  margin: 0 0 16px;
}

.story__text--bold {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.story__text--bold span {
  color: #007daf;
}

.story__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 16px;
  gap: 16px;
}

.card-story {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
}

.card-story__title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  color: #ffffff;
  line-height: 1.2083333333;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-size: 24px;
}

.card-story__image {
  padding: 0 0 50%;
}

.capabilities {
  padding: 24px 0;
}

.capabilities__header {
  margin: 0 0 20px;
}

.capabilities__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 0 24px;
}

.capabilities__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.capabilities__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 11px;
  line-height: 1.7272727273;
  letter-spacing: 0.2px;
}

.capabilities__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.capabilities__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 16px 0;
}

.item-capabilities__icon {
  width: 64px;
  height: 64px;
  margin: 0 0 16px;
}

.item-capabilities__title {
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.item-capabilities__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.7692307692;
  letter-spacing: 0.2px;
}

.connect {
  position: relative;
  padding: 8% 0 16%;
}

.connect__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 34.584%;
}

.connect__container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.connect__title {
  max-width: 350px;
  margin: 0 auto 32px;
  font-size: 30px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.subscribe {
  padding: 20px 0;
  background: #171819;
}

.subscribe__title {
  margin: 0 0 16px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

@media (min-width: 479.98px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item + .menu__item {
    margin-top: 0;
    margin-left: 40px;
  }

  .menu__link {
    font-size: 12px;
  }

  .menu-footer__label {
    margin: 0 0 16px;
  }

  .menu-footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu-footer__list:not(:last-child) {
    margin: 0 16px 0 0;
  }

  .main-block__title {
    font-size: 60px;
    letter-spacing: 5.7px;
  }

  .main-block__subtitle {
    font-size: 16px;
  }

  .capabilities__title {
    text-align: left;
  }

  .capabilities__title::after {
    left: 0;
  }

  .capabilities__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .capabilities__text {
    padding: 0 32px 0 0;
  }

  .item-capabilities {
    padding: 16px;
    border: 1px solid #e6e6e6;
  }

  .subscribe {
    padding: 32px 0;
  }
}

@media (min-width: 599.98px) {
  .title {
    padding: 0 0 18px;
    font-size: 18px;
  }

  .footer__top {
    padding: 32px 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .company-footer__label {
    margin: 0 0 24px;
  }

  .menu-footer__label {
    margin: 0 0 24px;
  }

  .contacts-footer__label {
    margin: 0 0 24px;
  }

  .story {
    padding: 56px 0 28px;
  }

  .story__title {
    margin: 0 0 32px;
  }

  .card-story {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .card-story__image {
    padding: 0 0 70%;
  }

  .capabilities {
    padding: 28px 0;
  }

  .capabilities__header {
    margin: 0 0 28px;
  }

  .capabilities__title {
    margin: 0 0 32px;
  }

  .capabilities__body {
    margin: 0 -8px;
  }

  .capabilities__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 8px;
  }

  .item-capabilities {
    padding: 32px 16px;
  }

  .item-capabilities__icon {
    width: 75px;
    height: 75px;
    margin: 0 0 24px;
  }
}

@media (min-width: 599.98px) and (min-width: 767.98px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}

@media (min-width: 599.98px) and (min-width: 991.98px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .footer__column:first-child,
  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (min-width: 767.98px) {
  .footer__top {
    padding: 40px 0;
  }

  .footer__bottom {
    padding: 24px 0;
  }

  .company-footer__logo:not(:last-child) {
    margin: 0 0 16px;
  }

  .menu-footer__item:not(:last-child) {
    margin: 0 0 10px;
  }

  .story {
    padding: 64px 0 32px;
  }

  .story__title {
    margin: 0 0 56px;
  }

  .capabilities {
    padding: 40px 0;
  }

  .capabilities__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 56px;
  }

  .capabilities__title {
    margin: 0;
  }

  .capabilities__text {
    padding: 0 32px;
  }

  .subscribe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subscribe__title {
    margin: 0 72px 0 0;
  }
}

@media (min-width: 991.98px) {
  .header {
    margin: 0 0 -64px;
  }

  .header__container {
    min-height: 64px;
  }

  .footer {
    padding: 0 0 64px;
  }

  .contacts-footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts-footer__items {
    margin: 0 16px 0 0;
  }

  .story {
    padding: 64px 0;
  }

  .story__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .story__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .story__text:not(:last-child) {
    margin: 0 0 32px;
  }

  .card-story__image {
    padding: 0 0 160% 0;
  }

  .capabilities {
    padding: 64px 0;
  }

  .capabilities__body {
    margin: 0 -16px;
  }

  .capabilities__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0 16px;
  }
}

@media (max-width: 991.98px) {
  .story__cards {
    margin: 0 0 32px;
  }

  .capabilities__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .capabilities__column:not(:last-child) {
    margin: 0 0 16px;
  }
}

@media (max-width: 972px) {
  .card-story__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 652));
  }

  .connect__title {
    font-size: calc(24px + 6 * ((100vw - 320px) / 652));
  }

  .subscribe__title {
    font-size: calc(18px + 4 * ((100vw - 320px) / 652));
  }
}

@media (max-width: 767.98px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .company-footer__label {
    display: none;
  }

  .company-footer__text {
    display: none;
  }

  .subscribe__container {
    text-align: center;
  }
}

@media (max-width: 599.98px) {
  .footer__menu {
    margin: 0 0 32px;
  }

  .story__cards {
    overflow: auto;
  }

  .item-capabilities__icon {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 479.98px) {
  .form__input {
    margin: 0 0 16px;
  }

  .menu__body {
    position: fixed;
    bottom: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 48px 16px 72px;
    background: rgba(255, 255, 255, 0.95);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    bottom: 0;
  }

  .icon-menu {
    position: relative;
    z-index: 5;
    right: -12px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .icon-menu span {
    position: absolute;
    top: calc(50% - 1px);
    right: 12px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #171819;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child {
    top: 16px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 16px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu._active span:last-child {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__column {
    text-align: center;
  }

  .menu-footer__label {
    padding: 0 20px;
  }

  .menu-footer__body {
    padding: 24px 0 0;
  }

  .contacts-footer__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .capabilities__content {
    text-align: center;
  }

  .capabilities__text {
    margin: 0 0 20px;
  }
}

@media (min-width: 479.98px) and (max-width: 972px) {
  .menu__item + .menu__item {
    margin-left: calc(16px + 24 * ((100vw - 320px) / 652));
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #007daf;
    background: #ffffff;
  }

  .logo__icon:hover {
    color: #171819;
  }

  .logo__icon--alt:hover {
    color: #ffffff;
  }

  .menu__link:hover {
    color: #007daf;
  }

  .menu-footer__link:hover {
    color: #007daf;
  }

  .contacts-footer__link:hover {
    color: #007daf;
  }

  .social-footer__icon:hover.social-footer__icon--facebook {
    fill: #3b5998;
  }

  .social-footer__icon:hover.social-footer__icon--twitter {
    fill: #65bbf2;
  }

  .social-footer__icon:hover #google-blue {
    fill: #3e82f7;
  }

  .social-footer__icon:hover #google-yellow {
    fill: #fdbd00;
  }

  .social-footer__icon:hover #google-green {
    fill: #2da94f;
  }

  .social-footer__icon:hover #google-red {
    fill: #ee412c;
  }

  .main-block__link-down:hover {
    color: #007daf;
    -webkit-transform: translate(0, 1px);
        -ms-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
}